################################################################################
# COMPILATION

# ---------------------
# C++
*.out
*.o

# ---------------------
# CMake
build/

# ---------------------
# DOT files
*.dot
*.png

################################################################################
# EMACS
*~
*\.#*

################################################################################
# VS Code
.vscode

# test 
src/test_output/*
src/working_contract/*.txt

# external
external/

# ctg cache 
ctg_cache/

# AE 
benchmark/results/